.faculties-main-container {
  max-width: 1920px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  flex-direction: column;
  background-color: #44f7;
}

.faculties-main-container .search-input {
  max-width: 1800px;
  border-radius: 4px;
  width: 325px;
  width: 90vw;
  height: 60px;
  outline: none;
  border: none;
  padding: 10px 20px;
  font-size: 1.4rem;
  /* text-align: center; */
  transition: all 0.35s ease;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
}

.faculties-main-container .faculties-card-container {
  display: grid;
  grid-template-columns: auto;
  gap: 70px 20px;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.faculties-main-container .faculties-card-container .card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 310px;
  height: 425px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 20px;
  border: 5px solid #fff;
  box-shadow: 0 35px 50px rgba(0, 0, 0, 0.35);
  transition: all 0.25s ease-out;
}

@media (hover: hover) {
  .faculties-main-container .faculties-card-container .card-container:hover {
    background-color: #fff;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transform: scale(0.95);
  }
}

.faculties-main-container .faculties-card-container .card-container:active {
  transform: scale(0.95);
}

.faculties-main-container .faculties-card-container .card-container .top-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: -50px;
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: none;
  transition: all 0.35s ease-out;
  z-index: 10;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.25);
}

@media (hover: hover) {
  .faculties-main-container
    .faculties-card-container
    .card-container:hover
    .top-img {
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.45);
  }
}

.faculties-main-container
  .faculties-card-container
  .card-container
  .info-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 0 0 20px 20px;
  gap: 15px;
  height: 60%;
  padding: 8px 12px;
  text-align: center;
  color: #fff;
  z-index: 20;
  transition: all 0.25s ease;
  transform: translateY(-20px);
}

.faculties-main-container
  .faculties-card-container
  .card-container
  .info-container
  .name {
  font-size: 1.8rem;
  font-weight: bold;
}

.faculties-main-container
  .faculties-card-container
  .card-container
  .info-container
  .rating {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.faculties-main-container
  .faculties-card-container
  .card-container
  .info-container
  .department {
  color: #fffa;
  font-size: 1.2rem;
  font-weight: 400;
}

.faculties-main-container
  .faculties-card-container
  .card-container
  .rating-filler {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75%;
  border-radius: 20px;
  background-color: #44ea;
  z-index: 0;
  transition: height 0.35s ease-out;
}

@media (min-width: 780px) {
  .faculties-main-container .faculties-card-container {
    grid-template-columns: auto auto;
  }

  .faculties-main-container .faculties-card-container .card-container {
    width: 325px;
  }
}

@media (min-width: 1180px) {
  .faculties-main-container .faculties-card-container {
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 1520px) {
  .faculties-main-container .faculties-card-container {
    grid-template-columns: auto auto auto auto;
  }
}
