.faculties-main-container {
  max-width: 1920px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  flex-direction: column;
  background-color: #44f7;
  animation: Loading 1s ease-in;
}

.faculties-main-container .search-input {
  max-width: 1800px;
  border-radius: 4px;
  width: 325px;
  width: 90vw;
  height: 60px;
  outline: none;
  border: none;
  padding: 10px 20px;
  font-size: 1.4rem;
  transition: all 0.35s ease;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
}

.faculties-main-container .faculties-card-container {
  display: grid;
  grid-template-columns: auto;
  gap: 70px 20px;
  align-content: center;
  justify-content: center;
  width: 100%;
  animation: BackUp 0.5s ease;
}

/* RESPONSIVE MEDIA QUERIES */
@media (min-width: 780px) {
  .faculties-main-container .faculties-card-container {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 1180px) {
  .faculties-main-container .faculties-card-container {
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 1520px) {
  .faculties-main-container .faculties-card-container {
    grid-template-columns: auto auto auto auto;
  }
}
