.faculty-main-container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 150px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: Loading 1s ease-in;
}

/* Comment Box */
.faculty-main-container .comment-section-container {
  position: fixed;
  left: 0;
  top: -1000px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  z-index: 100;
  transition: all 0.35s ease-in-out;
}

.faculty-main-container .comment-section-container.active {
  top: 0;
}

.faculty-main-container .comment-section-container .inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #44fa;
  padding: 30px 20px;
  width: 100%;
  max-width: 720px;
  border-radius: 4px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.faculty-main-container .comment-section-container .title {
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.faculty-main-container .comment-section-container input {
  width: 100%;
  margin: 20px;
  height: 60px;
  font-size: 1.4rem;
  color: #232323;
  padding: 0 10px;
  border: none;
  outline: none;
  word-wrap: break-word;
  word-break: break-all;
}

.faculty-main-container .comment-section-container input::placeholder {
  text-align: center;
  color: #aaa;
}

.faculty-main-container .comment-section-container .inner-container .btn {
  background-color: #fff;
  color: #4e4e4e;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px 5px;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.faculty-main-container
  .comment-section-container
  .inner-container
  .btn:active {
  scale: 0.95;
}

.faculty-main-container
  .comment-section-container
  .inner-container
  .btn1:hover {
  background-color: #99f;
  color: #fff;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.faculty-main-container
  .comment-section-container
  .inner-container
  .btn2:hover {
  background-color: #f77;
  color: #fff;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.faculty-main-container .faculty-info-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.faculty-main-container .faculty-info-container .card-container {
  cursor: default;
  animation: none;
}

.faculty-main-container .faculty-info-container .card-container .rating-filler {
  animation: GlowBg 10s ease-in alternate infinite;
}

@media (hover: hover) {
  .faculty-main-container .faculty-info-container .card-container:hover {
    transform: none;
    box-shadow: 0 35px 50px rgba(0, 0, 0, 0.35);
  }
}

.faculty-main-container .faculty-info-container .faculty-profile {
  margin-bottom: 50px;
}

.faculty-main-container .faculty-info-container .detailed-ratings-container {
  background-color: #44fa;
  color: #fff;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  animation: GlowBg 10s ease-in alternate infinite;
}

.faculty-main-container
  .faculty-info-container
  .detailed-ratings-container
  .title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.faculty-main-container
  .faculty-info-container
  .detailed-ratings-container
  .ratings-info {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.faculty-main-container
  .faculty-info-container
  .detailed-ratings-container
  .ratings-info
  .left,
.faculty-main-container
  .faculty-info-container
  .detailed-ratings-container
  .ratings-info
  .right {
  width: 49%;
}

.faculty-main-container
  .faculty-info-container
  .detailed-ratings-container
  .ratings-info
  .left
  p,
.faculty-main-container
  .faculty-info-container
  .detailed-ratings-container
  .ratings-info
  .right
  p {
  text-align: center;
  border: 3px solid #fff;
  border-radius: 12px;
  padding: 4px 12px;
  margin-bottom: 10px;
}

.faculty-main-container .voting-container {
  background-color: #44fa;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.faculty-main-container .voting-container .title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.faculty-main-container .voting-container .info {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.faculty-main-container .voting-system {
  width: 100%;
}

@media (min-width: 980px) {
  .faculty-main-container .faculty-info-container {
    flex-direction: row;
    gap: 40px;
  }

  .faculty-main-container .faculty-info-container .detailed-ratings-container {
    animation: GrowWidth 1s ease-out, GlowBg 10s ease-in alternate infinite;
  }

  .faculty-main-container .voting-container {
    animation: GrowWidth 1s ease-out;
  }

  .faculty-main-container .voting-container .title {
    font-size: 2.3rem;
  }

  .faculty-main-container .voting-container .info {
    font-size: 1.4rem;
  }

  .faculty-main-container
    .faculty-info-container
    .detailed-ratings-container
    .title {
    font-size: 2.3rem;
  }

  .faculty-main-container
    .faculty-info-container
    .detailed-ratings-container
    .ratings-info {
    font-size: 1.4rem;
  }
}
