.faculty-main-container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 150px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: Loading 1s ease-in;
}

.faculty-main-container .faculty-info-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.faculty-main-container .faculty-info-container .card-container {
  cursor: default;
  animation: none;
}

.faculty-main-container .faculty-info-container .card-container .rating-filler {
  animation: GlowBg 10s ease-in alternate infinite;
}

@media (hover: hover) {
  .faculty-main-container .faculty-info-container .card-container:hover {
    transform: none;
    box-shadow: 0 35px 50px rgba(0, 0, 0, 0.35);
  }
}

.faculty-main-container .faculty-info-container .faculty-profile {
  margin-bottom: 50px;
}

.faculty-main-container .faculty-info-container .detailed-ratings-container {
  background-color: #44fa;
  color: #fff;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  animation: GlowBg2 10s ease-in alternate infinite;
}

.faculty-main-container
  .faculty-info-container
  .detailed-ratings-container
  .title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.faculty-main-container
  .faculty-info-container
  .detailed-ratings-container
  .ratings-info {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.faculty-main-container
  .faculty-info-container
  .detailed-ratings-container
  .ratings-info
  .left,
.faculty-main-container
  .faculty-info-container
  .detailed-ratings-container
  .ratings-info
  .right {
  width: 49%;
}

.faculty-main-container
  .faculty-info-container
  .detailed-ratings-container
  .ratings-info
  .left
  p,
.faculty-main-container
  .faculty-info-container
  .detailed-ratings-container
  .ratings-info
  .right
  p {
  text-align: center;
  border: 3px solid #fff;
  border-radius: 12px;
  padding: 4px 12px;
  margin-bottom: 10px;
}

.faculty-main-container .voting-container {
  background-color: #44fa;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.faculty-main-container .voting-container .title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.faculty-main-container .voting-container .info {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.faculty-main-container .voting-system {
  width: 100%;
}

@media (min-width: 980px) {
  .faculty-main-container .faculty-info-container {
    flex-direction: row;
    gap: 40px;
  }

  .faculty-main-container .faculty-info-container .detailed-ratings-container {
    animation: GrowWidth 1s ease-out, GlowBg2 10s ease-in alternate infinite;
  }

  .faculty-main-container .voting-container {
    animation: GrowWidth 1s ease-out;
  }

  .faculty-main-container .voting-container .title {
    font-size: 2.3rem;
  }

  .faculty-main-container .voting-container .info {
    font-size: 1.4rem;
  }

  .faculty-main-container
    .faculty-info-container
    .detailed-ratings-container
    .title {
    font-size: 2.3rem;
  }

  .faculty-main-container
    .faculty-info-container
    .detailed-ratings-container
    .ratings-info {
    font-size: 1.4rem;
  }
}
