.user-profile-main-container {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  animation: Loading 1s ease-in;
}

.user-profile-main-container .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  transition: all 0.3s ease-in;
}

.user-profile-main-container .overlay.active {
  z-index: 11;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.user-profile-main-container .menu-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px;
  position: fixed;
  top: 100px;
  left: calc(100% - 50px);
  width: 100px;
  height: 100px;
  z-index: 100;
  border-radius: 50%;
  background-color: orange;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.user-profile-main-container .menu-nav .icon {
  font-size: 2rem;
  color: #fff;
}

.user-profile-main-container .menu-nav.active .icon {
  transform: rotate(180deg);
}

.user-profile-main-container .menu-nav:active {
  transform: scale(0.95);
}

.user-profile-main-container .menu-nav.active {
  transform: scale(0.95) translateX(-50px);
  width: 150px;
  border-radius: 20px;
}

.user-profile-main-container .cover-img {
  height: 250px;
  width: 100%;
  position: relative;
  animation: LoadingVotedFacultyCard 0.75s ease infinite alternate;
}

.user-profile-main-container .cover-img img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.user-profile-main-container .cover-img::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.user-profile-main-container .user-info {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  color: #323232;
  margin-bottom: 40px;
}

.user-profile-main-container .user-info .profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 5px solid #fff;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: -30px;
  transform: translateY(-30%);
  animation: LoadingVotedFacultyCard 0.75s ease infinite alternate-reverse;
}

.user-profile-main-container .user-info .profile-pic img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-profile-main-container .user-info .username {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.user-profile-main-container .user-info .joined-at {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.user-profile-main-container .user-info .description {
  font-size: 1.1rem;
  width: 100%;
  text-align: center;
}

.user-profile-main-container .votes-container {
  border-top: 5px dashed #323223;
  padding: 40px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-profile-main-container .votes-container .title {
  font-size: 2.1rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.user-profile-main-container .votes-container .notice {
  font-size: 1.2rem;
  margin-bottom: 60px;
  width: 100%;
  text-align: center;
}

.user-profile-main-container .votes-container .voted-faculty-container {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  align-content: center;
  justify-content: center;
  width: 100%;
  animation: BackUp 0.5s ease;
}

.user-profile-main-container .votes-container .voted-faculty-container .item {
  height: 300px;
  width: 270px;
  position: relative;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  border: 10px double #000;
  transition: all 0.15s ease-out;
}

.user-profile-main-container
  .votes-container
  .voted-faculty-container
  .item:active {
  transform: scale(1.1);
}

.user-profile-main-container
  .votes-container
  .voted-faculty-container
  .item
  img {
  border-radius: 4px;
  opacity: 0.9;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.user-profile-main-container
  .votes-container
  .voted-faculty-container
  .item::after {
  content: "";
  border-radius: 4px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.user-profile-main-container
  .votes-container
  .voted-faculty-container
  .item
  .name {
  color: #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 100%;
  text-align: center;
  z-index: 10;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

@media (hover: hover) {
  .user-profile-main-container
    .votes-container
    .voted-faculty-container
    .item::after {
    width: 0%;
    height: 0%;
    top: 100%;
    left: 50%;
    transition: all 0.25s ease;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .user-profile-main-container
    .votes-container
    .voted-faculty-container
    .item
    .name {
    z-index: 0;
    opacity: 0;
    transition: all 0.35s ease;
  }

  .user-profile-main-container
    .votes-container
    .voted-faculty-container
    .item:hover {
    transform: scale(0.95);
  }

  .user-profile-main-container
    .votes-container
    .voted-faculty-container
    .item:hover::after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .user-profile-main-container
    .votes-container
    .voted-faculty-container
    .item:hover
    .name {
    z-index: 10;
    opacity: 1;
  }
}

.user-profile-main-container .menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11;
  transform: translate(-3000px, -50%);
  transition: all 0.35s ease-in;
}

.user-profile-main-container .menu-container.active {
  transform: translate(-50%, -50%);
}

.user-profile-main-container .menu-container .btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 90vw;
  max-width: 1920px;
}

.user-profile-main-container .menu-container .btn-container .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 8px 0;
  height: auto;
  color: #000;
  text-shadow: 5px 5px 10px rgba(255, 255, 255, 1);
  font-size: 1.4rem;
  font-weight: 500;
  border: 5px solid rgba(255, 255, 255, 1);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  transition: all 0.35s ease;
}

@media (hover: hover) {
  .user-profile-main-container .menu-container .btn-container .btn:hover {
    box-shadow: 0 50px 100px rgba(0, 0, 0, 0.35);
    transform: translateY(-3px);
  }
}

/* Loading Animation */
.user-profile-main-container
  .votes-container
  .voted-faculty-container
  .item
  .loading {
  height: 100%;
  width: 100%;
  border-radius: 0;
  border: none;
  animation: LoadingVotedFacultyCard 0.75s ease infinite alternate;
}

.user-profile-main-container
  .votes-container
  .voted-faculty-container
  .item
  .name.loading {
  width: 250px;
  height: 40px;
  animation: LoadingVotedFacultyCard 0.75s ease infinite alternate-reverse;
}

/* RESPONSIVE MEDIA QUERIES */
@media (min-width: 600px) {
  .user-profile-main-container .votes-container .voted-faculty-container {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 960px) {
  .user-profile-main-container .cover-img {
    height: 300px;
  }

  .user-profile-main-container .user-info .profile-pic {
    width: 200px;
    height: 200px;
  }

  .user-profile-main-container .user-info .username {
    font-size: 2.4rem;
  }

  .user-profile-main-container .user-info .joined-at {
    font-size: 1.5rem;
  }

  .user-profile-main-container .user-info .description {
    font-size: 1.2rem;
  }

  .user-profile-main-container .votes-container .voted-faculty-container {
    grid-template-columns: auto auto auto;
  }

  .user-profile-main-container .votes-container .title {
    font-size: 2.4rem;
  }

  .user-profile-main-container .votes-container .notice {
    font-size: 1.4rem;
  }
}

@media (min-width: 1220px) {
  .user-profile-main-container .votes-container .voted-faculty-container {
    grid-template-columns: auto auto auto auto;
  }
}
