.main-navbar-container {
  max-width: 1920px;
  margin: 0 auto;
  user-select: none;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}

.main-navbar-container .nav-container {
  height: 70px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-navbar-container .nav-container .left .title {
  font-size: 1.4rem;
  color: #232323;
}

.main-navbar-container .nav-container .right .item-container {
  display: none;
}

.main-navbar-container .nav-container .right .mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  padding: 6px;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.main-navbar-container .nav-container .right .mobile-nav:active {
  background-color: #fff;
  transform: scale(0.9);
}

.main-navbar-container .overlay {
  background-color: #33333377;
  width: 0%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -50%;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.main-navbar-container .overlay.active {
  left: 0;
  width: 100%;
  transition: all 0.75s ease-in-out;
}

.main-navbar-container .mobile-menu {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  height: 60%;
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.35s ease;
}

.main-navbar-container .mobile-menu .item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 75%;
  width: 90%;
}

.main-navbar-container .mobile-menu .item-container .item {
  background-color: #44f7;
  color: #fff;
  border: 3px solid #000;
  border-radius: 4px;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.35s ease;
}

.main-navbar-container .mobile-menu .item-container .item:hover {
  transform: translateY(-3px);
}

.main-navbar-container .mobile-menu .item-container .item:active {
  transform: scale(1.1);
}

/* RESPONSIVE MEDIA QUERY */
@media (min-width: 340px) {
  .main-navbar-container .nav-container .left .title {
    font-size: 2.4rem;
  }

  .main-navbar-container .nav-container .right .mobile-nav {
    padding: 12px;
    font-size: 1.4rem;
  }
}

@media (min-width: 520px) {
  .main-navbar-container .mobile-menu {
    width: 70%;
  }

  .main-navbar-container .mobile-menu .item-container {
    width: 80%;
  }
}

@media (min-width: 720px) {
  .main-navbar-container .mobile-menu {
    width: 55%;
  }
}

@media (min-width: 920px) {
  .main-navbar-container {
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .main-navbar-container .nav-container {
    padding: 0 40px;
  }

  .main-navbar-container .nav-container .right .mobile-nav {
    display: none;
  }

  .main-navbar-container .overlay {
    display: none;
  }

  .main-navbar-container .mobile-menu {
    display: none;
  }

  .main-navbar-container .nav-container .right .item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .main-navbar-container .nav-container .right .item-container .item {
    position: relative;
    padding: 8px 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #434343;
  }

  .main-navbar-container .nav-container .right .item-container .item:hover {
    color: #fff;
  }

  .main-navbar-container
    .nav-container
    .right
    .item-container
    .item:hover.active {
    color: #434343;
  }

  .main-navbar-container
    .nav-container
    .right
    .item-container
    .item
    .on-active-animation {
    background-color: #44f7;
    border-radius: 4px;
    position: absolute;
    width: 120%;
    height: 0%;
    top: 100%;
    left: -10%;
    z-index: -10;
    transition: all 0.15s ease-in-out;
  }

  .main-navbar-container
    .nav-container
    .right
    .item-container
    .item:hover
    .on-active-animation {
    height: 100%;
    top: 0;
    border-bottom: 3px solid #000;
  }

  .main-navbar-container
    .nav-container
    .right
    .item-container
    .item:active
    .on-active-animation {
    transform: scale(0.9);
  }

  .main-navbar-container
    .nav-container
    .right
    .item-container
    .item.active
    .on-active-animation {
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
    border-bottom: 3px solid #000;
  }
}
