.add-faculty-main-container {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  padding: 100px 20px 50px 20px;
  animation: Loading 1s ease-in;
}

.add-faculty-main-container .container {
  margin: 0 auto;
  max-width: 920px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.add-faculty-main-container .container .card-container {
  min-width: 310px;
}

.add-faculty-main-container .title {
  width: 100%;
  margin-bottom: 75px;
  font-size: 2.2rem;
  color: #323232;
  text-align: center;
}

.add-faculty-main-container .container .form-container {
  display: flex;
  width: 100%;
  max-width: 350px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 25px;
}

.add-faculty-main-container .container .form-container .form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.add-faculty-main-container .container .form-container .form label {
  color: #323232;
  font-size: 1.6rem;
  font-weight: 500;
  width: 100%;
}

.add-faculty-main-container .container .form-container .form input {
  width: 100%;
  height: 30px;
  font-size: 1.4rem;
  font-weight: 400;
  outline: none;
  border: none;
  border-bottom: 1px solid #434343;
  opacity: 0.8;
  transition: all 0.15s ease-in;
}

.add-faculty-main-container .container .form-container .form input:focus {
  border-bottom: 3px solid #232323;
}

.add-faculty-main-container
  .container
  .form-container
  .form
  input::placeholder {
  color: #434343;
  opacity: 0.5;
  font-size: 1.2rem;
  font-weight: 400;
  transition: all 0.15s ease-in;
}

.add-faculty-main-container
  .container
  .form-container
  .form
  input:focus::placeholder {
  transform: translateX(100%);
  opacity: 0;
}

.add-faculty-main-container .container .btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
}

.add-faculty-main-container .container .btn-container .btn {
  background-color: #44e;
  color: #fff;
  padding: 10px 12px;
  border: 3px solid #232323;
  border-radius: 8px;
  font-size: 1.7rem;
  font-weight: bold;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.35s ease;
}

/* LOADING ANIMATION */
.add-faculty-main-container .submit-loading {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 100;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  animation: GlowBgSubmitting 0.75s ease-in infinite alternate;
}

@media (hover: hover) {
  .add-faculty-main-container .container .btn-container .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
  }
}

/* RESPONSIVE MEDIA QUERY */
@media (min-width: 380px) {
  .add-faculty-main-container .title {
    font-size: 2.4rem;
  }
}

@media (min-width: 720px) {
  .add-faculty-main-container .submit-loading {
    font-size: 5.5rem;
    animation: GlowBgSubmitting 0.75s ease-in infinite alternate;
  }
}

@media (min-width: 840px) {
  .add-faculty-main-container .container {
    padding: 0 20px;
  }

  .add-faculty-main-container .title {
    font-size: 2.5rem;
    margin-bottom: 110px;
  }

  .add-faculty-main-container .container {
    flex-direction: row;
    justify-content: space-around;
  }

  .add-faculty-main-container .container .form-container {
    max-width: 620px;
  }
}
